<!DOCTYPE html>
<html lang="sl-SI">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

      {% if page.layout == 'home' %}
      <div class="gradient">
        <div class="zipper">
          <div class="zipper-container">
            <div class="zipper-track">
              <div class="zipper-slider">
                <div class="zipper-pull"></div>
              </div>
              <div class="zipper-left"></div>
              <div class="zipper-right"></div>
            </div>
            <div class="zipper-opening"></div>
          </div>
        </div>
      </div>
      
      
      {% endif %}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
  </body>

</html>
