<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {% if page.layout == 'home' %}
      <div class="gradient">
      </div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const navTrigger = document.querySelector('input#nav-trigger');
        const body = document.body;
    
        if (navTrigger) {
          navTrigger.addEventListener('change', function () {
            if (this.checked) {
              body.classList.add('nav-open');
            } else {
              body.classList.remove('nav-open');
            }
          });
    
          document.addEventListener('click', function (e) {
            const navMenu = document.querySelector('.site-nav');
            const isClickInside = navMenu.contains(e.target) || navTrigger.contains(e.target);
    
            if (!isClickInside && body.classList.contains('nav-open')) {
              navTrigger.checked = false;
              body.classList.remove('nav-open');
            }
          });
        }
      });
    </script>
    
  </body>

</html>
