---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Novice" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign months = "januar|februar|marec|april|maj|junij|julij|avgust|september|oktober|november|december" | split: "|" -%}
{%- assign month_index = post.date | date: "%-m" | minus: 1 -%}
{%- assign month_name = months[month_index] -%}

<span class="post-meta">{{ post.date | date: "%-d." }} {{ month_name }} {{ post.date | date: "%Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.image %}
        <img class="post-image" src="{{ post.image | relative_url }}" alt="{{ post.title }}">
      {% endif %}  
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <div style="text-align: center; margin-top: 50px;">
      <a href="/novice/" class="show-all-btn">Pokaži vse</a>
    </div>

  {%- endif -%}

</div>
